<%= hidden_field_tag "item[field_value_ids][]", nil %>
<% item.category_fields.each do |item_field| %>
  <% if ["original_kind", "handmade_medium", "handblown_medium"].include?(item_field.field_name) %>
    <div class="hidden">
      <%= select_tag "item[field_value_ids][]", options_from_collection_for_select(item_field.field_values, :id, :name, selected: FieldValue.default_id(item.category.name)) %>
    </div>
  <% else %>
    <div class="form-row">
      <div class="col">
        <%= label_tag item_field.field_name %><br>
        <%= select_tag "item[field_value_ids][]", options_from_collection_for_select(item_field.field_values, :id, :name, selected: item.selected_field_value(item_field)[0]), { :include_blank => true, onchange: "this.form.submit();" } %>
      </div>
    </div>
  <% end %>
<% end %>

<!-- elsif %w(number_field text_area).include?(item_field.field_type) -->
